export(geq)
export(getlambda)
export(gqbeta)
export(print.marptc)
export(qeq)
export(marptc)
export(vargee)
export(varqif)
importFrom("stats", "model.extract", "model.frame", "model.matrix",
             "pnorm", "sd", "var", "uniroot")
importFrom("methods", "is")
importFrom("MASS", "ginv")
importFrom("Matrix", "bdiag")
importFrom("R.utils", "withTimeout")
import("survival")

S3method(print, marptc)
