export(baseF)
export(gbeta)
export(geeptc)
export(geq)
export(initialF)
export(qbeta)
export(qifptc)
export(vargee)
export(varrqif)
importFrom("stats", "model.extract", "model.frame", "model.matrix",
             "pnorm", "sd", "var")
importFrom("methods", "is")
importFrom("MASS", "ginv")
importFrom("Matrix", "bdiag")
import("survival")
import("qif")
